// Colours

$primaryBlue: #1c3d6d;
$secondaryBlue: #7799c2;
$altBlue: #44536a;
$hoverBlue: #254f8d;
$straplineBlue: #4d78ac;
$yellow: #ffffcd;
$text: #222;

// Text

$text-lg: 1.375rem;
$text-md: 1.25rem;
$text-sm: 1.125rem;

$heading-xlg: 6.875rem;
$heading-lg: 3.75rem;
$heading-md: 3.125rem;
$heading-sm: 2.5rem;
$heading-xsm: 1.875rem;

// Padding & Margin

$padding: 1.875rem;

$contentPadding: 6.25rem;

// Shadows

$shadow-lg: 0px 25px 25px rgba(0, 0, 0, 0.050980392156862744);
